<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Visit Number</title>
</head>
<body>
    <div class="center">
    <p>Here you can check your visit time</p>
    <h1 th:text="${visitNumber}" aria-setsize="3"></h1>

    <table class="table">
        <thead>
<!--    <tr>-->
<!--        <th scope="col" th:text="${visitNumber}"></th>-->
<!--    </tr>-->
        </thead>
        <tbody>
        <tr>
            <th scope="row">Visit Number</th>
            <td th:text="${visitNumber}"></td>
        </tr>
        <tr>
            <th scope="row">Specialist</th>
            <td th:text="${user}"></td>
        </tr>
        <tr>
            <th scope="row">Reservation Time</th>
            <td th:text="${reservationTime}"></td>
        </tr>
        <tr>
            <th scope="row">Reserved Time</th>
            <td th:text="${reservedTime}"></td>
        </tr>
        <tr>
            <th scope="row">Time left until the visit</th>
            <td th:text="${timeLeft}"></td>
        </tr>
        </tbody>
    </table>
        <div class="btn-group">
            <a th:href="@{/}">
                <button type="button" class="btn btn-success button-spacing">Back Home</button>
            </a>
            <a th:href="@{/visits/cancel(visitId=${visitId})}"
               class="btn btn-danger"
               onclick="if(!(confirm('Are you sure you want to cancel this reservation?'))) return false">Cancel Visit
            </a>

        </div>
    </div>
</body>
</html>