<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Form to create a visit</title>
</head>
<body>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h3>Create a Visit</h3>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form class="row g-3" action="#" th:action="@{/visits/create}" th:object="${visit}" method="POST">
                <div class="col-md-12">
                    <input type="hidden" th:field="*{id}">
                    <select class="form-select" th:field="*{user}">
                        <option selected th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}">Choose. . .</option>
                    </select>
                </div>
                <div class="col-md-12 text-center">
                    <button class="btn btn-primary" type="submit">Create Visit</button>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <a th:href="@{/}" class="btn btn-secondary">Back Home</a>
        </div>
    </div>
</div>
</body>
</html>