<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Check a Visit</title>
</head>
<body>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h3>Check a Visit using Visit Code</h3>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form class="row g-3" action="#" th:action="@{/visits/visitNumber}"  method="get">
                <div class="col-md-12">
                    <input type="text" name="visitNumber" th:value="${visitNumber}"
                           class="form-control mb-4 w-35"  placeholder="Visit Number">
                </div>
                <div class="col-md-12 text-center">
                    <button class="btn btn-primary" type="submit">Find</button>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <a th:href="@{/}" class="btn btn-secondary btn-margin">Back Home</a>
        </div>
    </div>
</div>
</body>
</html>