<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Visit Number</title>
</head>
<body>
<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <p> Desk information for User</p>
    <p th:if="${statusStartedExists}" class="text-danger">This user has started tasks! There can only be one active task at a time!</p>

    <table class="table" style="width: 35%; margin-top: 20px;">
        <thead>
        <tr>
            <th scope="col" style="border: 1px solid black; padding: 8px; text-align: center;"> Visit Number </th>
            <th scope="col" style="border: 1px solid black; padding: 8px; text-align: center;"> Status </th>
            <th scope="col" style="border: 1px solid black; padding: 8px; text-align: center;"> Visit_Date_Time </th>
            <th scope="col" style="border: 1px solid black; padding: 8px; text-align: center;"> Options </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="visit : ${visits}" style="border: 1px solid black; padding: 8px;">
            <td th:hidden="${visit.id}" style="border: 1px solid black; padding: 8px;"></td>
            <td th:text="${visit.visitNumber}" style="border: 1px solid black; padding: 8px;"></td>
            <td th:text="${visit.status}" style="border: 1px solid black; padding: 8px;"></td>
            <td th:text="${visit.reservedTime}" style="border: 1px solid black; padding: 8px;"></td>
            <td>
                <div class="btn-group">
                    <a th:href="@{/visits/user/start(visitId=${visit.id})}">
                        <button type="button" class="btn btn-success" style="margin-right: 10px;">Start</button>
                    </a>
                    <a th:href="@{/visits/user/finish(visitId=${visit.id})}">
                        <button type="button" class="btn btn-danger">Finish</button>
                    </a>
                </div>
            </td>
        </tr>

        </tbody>
    </table>

    <div class="btn-group">
        <a th:href="@{/login/logged}">
            <button type="button" class="btn btn-secondary button-spacing">Back</button>
        </a>
    </div>
    <br>
</div>
</body>
</html>